<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('partials/head') %>
    </head>
  </head>
  <body class="home">
    <header></header>
    <div class="page">
      <%- include('partials/nav') %>

      <main>
        <div class="container">
          <div class="stats is-desktop is-5">
            <!-- Investors -->
            <div class="card stat">
              <div class="card-content">
                <div class="content">
                  <span class="name">
                    <span class="icon">
                      <i class="fas fa-users"></i>
                    </span>
                    <span>Investors</span>
                  </span>
                  <span class="value"> 100 </span>
                </div>
              </div>
            </div>
            <!-- Investors -->

            <!-- Requested withdrawals -->
            <div class="card stat">
              <div class="card-content">
                <div class="content">
                  <span class="name">
                    <span class="icon">
                      <i class="fas fa-hand-holding-usd"></i>
                    </span>
                    <span>Requested withdrawals</span>
                  </span>
                  <span class="value"> 300 </span>
                </div>
              </div>
            </div>
            <!-- Requested withdrawals -->
            <!-- Total Amount Invested -->
            <div class="card stat">
              <div class="card-content">
                <div class="content">
                  <span class="name">
                    <span class="icon">
                      <i class="fas fa-funnel-dollar"></i>
                    </span>
                    <span>Total Amount Invested</span>
                  </span>
                  <span class="value"> $138864 USD </span>
                </div>
              </div>
            </div>
            <!-- Total Amount Invested -->

            <!-- Total Amount Invested -->
            <div class="card stat">
              <div class="card-content">
                <div class="content">
                  <span class="name">
                    <span class="icon">
                      <i class="fas fa-file-invoice-dollar"></i>
                    </span>
                    <span>Total Amount Withhdrawn</span>
                  </span>
                  <span class="value"> $138864 USD </span>
                </div>
              </div>
            </div>
            <!-- Total Amount Invested -->
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
