<div class="dashboard_nav">
  <ul>
    <li><a href="/account" class="link">Account</a></li>
    <li><a href="/deposit" class="link">make deposit</a></li>
    <li><a href="/withdraw" class="link">withdraw your profit</a></li>
    <li><a href="/history" class="link">History</a></li>
    <li><a href="/referrals" class="link">referrals</a></li>
    <li><a href="/settings" class="link">settings</a></li>
    <li><a href="/logout" class="link">logout</a></li>
  </ul>
</div>
