<header>
  <div class="header__inner">
    <div class="logo">
      <img src="/images/logo.png" alt="Logo" />
    </div>

    <div class="action__buttons">
      <a href="/" class="button"> Main Page</a>
      <a href="/logout" class="button logout"> Logout</a>
    </div>
  </div>
</header>
