<footer>
    <div class="footer1">
      <p>&copy;Copyright 2020 - Powered By stead-fast.net</p>
    </div>
    <div class="footer2">
      <a href="#">Home |</a>
      <a href="#">My Account |</a>
      <a href="#">Log in |</a>
      <a href="#">Register</a>
      <a href="#">Our Team |</a>
      <a href="#">FAQ |</a>
      <a href="#">Terms and Conditions |</a>
      <a href="#">About |</a>
      <a href="#">Contact Us</a>
    </div>
</footer>