@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
    height: 100vh;
}

header{
    /* background-color: brown; */
    min-height: 175px;
    display: flex;
    flex-direction: column;
}

.head1, .head2{
    /* background: blue; */
    height: 40px;
    margin: 5px 0 0;
}

.logo-links {
    /* background-color: green; */
    height: 100%;
    display: flex;
}

.logo-img {
    flex: 0.37;
}



.all-drop {
    /* background-color: red; */
    flex: 0.63;
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: space-around;
}

.all-drop select {
    width: 40px;
}

.logo-img img {
    height: 4rem;
    width: 15rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}


.power-logo {
    /* background-color: white; */
    font-size: 11px;
    color: rgb(90, 88, 88);
}

.power-logo b {
    font-size: 13px;
}

.power-logo img {
    height: 15px;
}

.head3 {
    flex: 1;
    /* background: red; */
}

.head3 .logo-section {
    height: 85px;
    /* display: flex; */
    /* background-color: burlywood; */
}

.head1 marquee {
    color: black;
    font-size: 1rem;
    font-weight: lighter;
}

.head1 marquee span {
    margin: 0 20px;
    color: red;
}

.head2 select{
  height: 70%;
  width: 100%;
  color: rgb(87, 84, 84);
  padding: 0 10px;
}

main {
    display: flex;
    border-top: 1px solid black;
    flex-direction: column;
    height: 50rem;
    /* background-color: rgb(143, 14, 143); */
}

.about-head {
    color: white;
    background-color: rgb(107, 115, 192);
    flex: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
}

.about-content {
    color: rgb(99, 95, 95);
    flex: 0.7;
    /* background-color: yellow; */
    font-size: 30px;
    line-height: 1.2;
    padding: 1rem;
    text-align: center;
}

footer {
    background-color: rgb(107, 115, 192);
    height: 3rem;
    display: flex;
    padding: 1rem;
}
.footer1, .footer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer2 a:hover {
    color: rgb(42, 31, 196);
}

.footer1 {
    flex: 4;
}
.footer2 {
    flex: 6;
    justify-content: space-around;
    padding: 0 1rem;
}

