<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <header>
        <div class="head1 center-flex">
         <marquee behavior="scroll" direction="left">
            <span>Etherum (ETH)</span>
            <span>Bitcoin (BTC)</span>
            <span>EOS (EOS)</span>
            <span>XRP (XRP)</span>
            <span>XRP (XRP)</span>
            <span>XRP (XRP)</span>
            <span>XRP (XRP)</span>
            <span>XRP (XRP)</span>
            <span>XRP (XRP)</span>
            <span>XRP (XRP)</span>
        </marquee>
        </div>
        <div class="head2 center-flex">
          <select name="lang" id="lang">
              <option value="English">Select language</option>
              <option value="English">English</option>
              <option value="English">English</option>
              <option value="English">English</option>
              <option value="English">English</option>
              <option value="English">English</option>
          </select>
        </div>
        <div class="head3">
          <div class="logo-section">
              <div class="power-logo">
                  <a href="#">
                  Powered by
                  <span><img src="https://www.gstatic.com/images/branding/googlelogo/1x/googlelogo_color_42x16dp.png" alt="google"></span>
                 <b>Translate</b></a>
              </div>
              <div class="logo-links">
                  <div class="logo-img">
                      <a href="#">
                          <img src="https://stead-fast.net/wp-content/uploads/2019/08/cryptosufficient-logo.png" alt="logo">
                      </a>
                  </div>
                  <div class="all-drop">
                      <a href="#">Home</a>
                      <select name="account" id="account">
                          <option value="My Account"></option>
                          <option value="Log in"></option>
                          <option value="Register"></option>
                      </select>
                      <select name="account" id="account">
                        <option value="My Account"></option>
                        <option value="Log in"></option>
                        <option value="Register"></option>
                    </select>                      <a href="#">About Us</a>
                      <a href="#">Contact Us</a>
                      <a href="#"><i class="fas fa-shopping-bag"></i></a>
                      <a href="#"><i class="fas fa-search"></i></a>
                  </div>
              </div>
          </div>
        </div>
    </header>
    <main>
        <div class="about-head">
            <h2>About Us</h2>
        </div>
        <div class="about-content">
            <p>stead-fast.net is an Investment platform providing quick and safe investment into natural commodity and public assets With the 
                aid of well advanced and expert Traders. This create a secure crypto value mooning and safe capital investment. We are a leading provider of online stock trading. We focus more on online Stock trading, spread betting and related services. The company's mission is to provide global traders with access to the world's largest and most liquid market by offering innovative trading tools, hiring excellent trading educators, investing, meeting strict financial standards and striving for the best online trading experience in the market. Clients have the advantage of mobile trading, one-click order execution and trading from real-time charts also from your dashboard it was designed to cash out to your wallet automatically at a fixed basis which depends on your investment package you registered on. In addition, stead-fast.net offers educational courses on online trading and provides trading tools, proprietary data and premium resources. We also provides retail brokers, small hedge funds and emerging market banks access to wholesale execution and liquidity, while providing high and medium frequency funds access to prime brokerage services.also we bring value to organizations that develop products for embedded systems. We supply the tools 
                and services that make embedded systems development fast, efficient and reliable. In 2019, 
                we acquired the online portal (website) to enable us reach more clients .This allowed us to 
                further strengthen our long-standing relationships with our customers and their technology,
                 and to enable our customers across the world to earn daily from our profit.</p>
        </div>
    </main>
    <%- include('partials/home_footer') %>
  </body>
</html>
