<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <header><%- include('partials/header') %></header>
    <main class="dashboard">
      <%- include('partials/dashboard_nav') %>
      <div class="dashboard__page">Account</div>
    </main>
  </body>
</html>
