<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
   <h1>Forgot password? No worries. Enter your registered Email</h1>
    <form action="" method="POST">
        <div class="input-group">
            <input
              placeholder="your Email"
              type="email"
              id="email"
              name="email"
              placeholder="email"
            />
          </div>

          <button class="button">send email</button>
    </form>
    <%- include('partials/footer') %>
</body>
</html>