<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <main class="auth">
      <div class="auth__form">
        <div class="auth__form__inner">
          <div class="auth__form__meta">
            <h1>Forgot your password?:</h1>
          </div>
          <form action="/forgot-password" method="POST">
            <div class="input-group">
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Type your Email"
              />
            </div>

            <button class="button">Forgot</button>
          </form>
        </div>
      </div>
      <div class="auth__banner">
        <div class="content">
          <div class="logo">
            <img src="./images/logo.png" alt="our logo" />
          </div>
          <h2>Earn with us</h2>
          <a class="button" href="/create-account">Create an account</a>
        </div>
      </div>
    </main>
  </body>
</html>
