<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <main>
      <h1>Home pAGE</h1>
    </main>
    <footer><%- include('partials/footer') %></footer>
  </body>
</html>
