<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <main class="auth">
      <h2>A link has been sent to <%= email %>. Please confirm to reset your password</h2>
    </main>
  </body>
</html>
