<!DOCTYPE html>
<html lang="en">

    </style>
</head>
<body>
  <div class="reset-container">
    <div class="sub-con">
      <h1>Enter your new password for <%= email %></h1>
    <form action="" method="POST">
        <div class="input-group">
          <input
            placeholder="your new password"
            type="password"
            id="password"
            name="password"
            placeholder="enter new password"
          />
        </div>
        <div class="input-group">
          <input
            placeholder="your new password"
            type="password"
            id="password2"
            name="password2"
            placeholder="confirm new password"
          />
        </div>

          <button class="button">change password</button>
    </form>
    </div>
    
  </div>
    <%- include('partials/footer') %>
  </body>
</html>
