<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <style>
      .reset-container{
        background-color: rgb(19, 18, 19);
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .input-group {
      width: 100%;
      display: block;
      padding: 0.5rem 1.1rem;
      margin-bottom: 10px;
      border-radius: none;
      background: rgb(232, 240, 254);
      fill: none;
      height: 50px;
      flex: 1;
    }

    .input-group input {
      border: none;
      background: transparent;
      display: block;
      width: 100%;
      height: 100%;
      outline: none;
    }
    .input-group input,
    .input-group input::placeholder {
      font-weight: 300;
      color: #000000;
      font-size: 0.9rem;
    }
    .button {
    color: #fff;
    height: 3rem;
    min-width: fit-content;
    padding: 0 10px;
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 1rem;
    display: block;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d601f9;
    height: 3rem;
    width: 100%;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 1rem;
  }
  h1 {
    color: #fff;
  }
    </style>
</head>
<body>
  <div class="reset-container">
    <div class="sub-con">
      <h1>Enter your new password for <%= email %></h1>
    <form action="" method="POST">
        <div class="input-group">
            <input
              placeholder="your new password"
              type="password"
              id="password"
              name="password"
              placeholder="enter new password"
            />
          </div>
        <div class="input-group">
            <input
              placeholder="your new password"
              type="password"
              id="password2"
              name="password2"
              placeholder="confirm new password"
            />
          </div>

          <button class="button">change password</button>
    </form>
    </div>
    
  </div>
    <%- include('partials/footer') %>
</body>
</html>