<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>

    <main class="dashboard confirm_deposit bitcoin">
      <%- include('../partials/dashboard_nav') %>
      <div class="dashboard__page">
        <div class="container dashboard__page__content">
          <h2>Deposit Confirmation</h2>
          <form action="" id="" method="POST">
           
            <form  method="POST"> 
       
              <h2>Bitcoin</h2>
              <button type="submit" class="button order">save</button>
              <a href="/deposit" class="button cancel">cancel</a>
            </div>
          </form>
        </div>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>



